$accent: #fcf8ec;
$primary-color: #8fa6ad;
$secondary-color: #d0e8f2;
$secondary-dark: #456268;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

.shown {
  left: 0;
}

.hidden {
  left: -100%;
}
