@import "_utils";

.preview {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 5px;
    color: $primary-color;
    border-bottom: $accent 2px solid;
    padding-bottom: 15px;
  }

  .preview-tiles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 27px;
    img {
      width: 270px;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
